<!-- home.html runs the front end code for main screen-->

<!DOCTYPE html>

<head>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
   

</head>

<html lang="en">
<body>

    <h1>CODEBOY CASINO</h1>
   <h2 id="balance counter">Balance: temp</h2>

   <button class="imgBTN" id="Button1" onclick="handleButtonClick('/blackjack')"></button>
   <button class="imgBTN" id="Button2" onclick="handleButtonClick('/roulette')"></button>
   <button class="imgBTN" id="Button3" onclick="handleButtonClick('/craps')"></button>

   <div id="formArea">
      <textarea id="userData">User Data Goes Here: </textarea>
      <button id="goBTN">GO!</button>

      <input type="range" id="money" name="moneySlider" min="1" max="1000">
      <button id="sliderBTN">SLIDE!</button>
      
      <p id="outputArea">Shit goes here</p>
   </div>
   <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>

</html>