<!DOCTYPE html>

<head>

   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
   <script src="{{ url_for('static', filename='home.js') }}"></script>

</head>

<html lang="en">
<body>

   <h1>CODEBOY CASINO</h1>
   <h2 id="balance counter">Balance: 0</h2>

   <button id="Button1" onclick="handleButtonClick('/blackjack')"></button>
   <button id="Button2" onclick="handleButtonClick('/roulette')"></button>
   <button id="Button3" onclick="handleButtonClick('/craps')"></button>


</body>

</html>